html,
body {
  background-color: #f3fdff;
  overflow-x: hidden;
}

.pricing_title {
  font-weight: 800;
  text-align: center;
  margin: 2rem 0rem 0.5rem 0rem;
  color: #03045e;
  text-transform: uppercase;
}

.pricing_tagline {
  font-family: "Bonheur Royale", cursive;
  text-align: center;
  color: #023e8a;
}

.pricing_card {
  border-radius: 20px;
  border: 1px solid rgb(221, 221, 221);
  transition: all ease-in-out 0.3s;
  background-color: #caf0f8;
}

.pricing_card:hover {
  box-shadow: 0px 0px 10px rgb(185, 185, 185);
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.pricing_img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.pricing_text {
  text-align: justify;
}

.pricing-card-title {
  color: #03045e;
}

.pricing-card-btn {
  background-color: #023e8a;
  color: #ffffff;
  transition: all ease-in-out 0.5s;
  font-size: 20px;
}

.pricing-card-btn:hover {
  background-color: #00295e;
  color: #ffffff;
  transition: all ease-in-out 0.5s;
}

.facility_list li {
  list-style: none;
  font-size: 1rem;
}

.facility_list li i {
  font-size: 18px;
  margin-right: 20px;
}

.facility_list li i.check {
  color: green;
}

.facility_list li i.close {
  color: red;
}

.divider {
  content: "";
  display: block;
  height: 0.5px;
  width: 95%;
  align-self: center;
  background-color: #03045e;
}

.disabled_text {
  color: rgb(192, 189, 189);
}

.price {
  color: #03045e;
}

.pricing_details {
  color: #03045e;
}

footer {
  background-color: #363535;
  height: 200px;
  position: relative;
}

.footer-nav {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 50px;
  position: absolute;
  top: 20%;
}

.footer-nav li {
  float: left;
  margin-right: 40px;
}

.footer-nav a:link,
.footer-nav a:visited,
.social-nav a:link,
.social-nav a:visited {
  color: #ffffff;
  text-decoration: none;
  border: none;
}

.footer-nav a:hover,
.footer-nav a:active {
  color: #48cae4;
  text-decoration: none;
  border-bottom: 2px solid #48cae4;
}

.footer-nav-icons {
  display: block;
  float: right;
  position: absolute;
  top: 20%;
  right: 10%;
}

.footer-nav-icons li {
  float: left;
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  padding: 5px 5px;
  margin-left: 20px;
  font-size: 140%;
}

.footer-para {
  font-size: 15px;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-family: Copperplate Gothic Bold;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
}
