*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    
    
}

html{
    
    font-size: 20px;
    font-family: 'Lato','Arial',sans-serif;
    color: black;
    background-color: white;
    text-rendering: optimizeLegibility;
    
    
    
    
    
}

.row{
    
    max-width: 1140px;
    margin: 0 auto;
    
}

.bimg{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1140px;
    
    
    
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/Idli....jpg);
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
    height: 100vh;
    
}


h1{
    
    font-size: 240%;
    letter-spacing: 1px;
    word-spacing: 10px;
    text-transform: uppercase;
    font-weight: 300;
    color: white;
    
    
}

.btn,
input[type=submit],
input[type=reset]{
    
    display: inline-block;
    margin-right: 30px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    
    
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    
    background-color: #e67e22;
    color: #fff;
    border: 2px solid #e67e22;
    
    
    
}


.btn-ghost:link,
.btn-ghost:visited,
input[type=reset]{
    
    border: 2px solid #e67e22;
    color: #e67e22;
    
    
    
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active
{
    
    background-color: #cf6d17;
    color: #fff;
    border: 2px solid #cf6d17;
    transition: background-color 0.2s;
    
    
}


.btn-ghost:hover,
.btn-ghost:active,
input[type=reset]:hover,
input[type=reset]:active 
{
    
    border: 2px solid #cf6d17;
    color: #fff;
    background-color: #cf6d17;
    transition: background-color 0.2s;
    
    
    
}

.logo{
    
    height: 100px;
    width: 100px;
    margin: auto;
    float: left;
    margin-top: 20px;
    border-radius: 190px;
    
    
}

.main-nav{
    
    float: right;
    margin-top: 50px;
     
    
}

.main-nav li{
    
    display: inline-block;
    margin-left: 50px;
    
    
    
    
}

.main-nav li a{
    text-decoration: none;
    color: greenyellow;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 2px;
    /*border-bottom: 2px solid transparent;*/
    
    
}

.main-nav li a:active,
.main-nav li a:hover{
    
    border-bottom: 2px solid rgba(154, 255, 0, 0.84);
    transition: border-bottom 0.2s;
    
    
}

h2{
    
    color: black;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2px;
}

h2:after {
    
    display: block;
    width: 10%;
    background-color: #e67e22;
    height: 2px;
    content: " ";
    margin-left: 45%;
    margin-top: 30px;
    margin-bottom: 30px;
}



.sec-1-para{
    
    color: black;
    width: 80%;
    font-style: italic;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 30px;
    line-height: 145%;
    
}

h3{
    
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    word-spacing: 2px;
    
}

    

.col span-1-of-4{
    
    color: black;
}

.sec-1-sec{
    
    color:black;
    font-size: 90%;
    letter-spacing: 0.5px;
    line-height: 25px;
    word-spacing: 2px;
    padding-right: 5px;
}


section{
    
    padding: 80px;0px;
}

.icon-big{
    
    font-size: 300%;
    display: block;
    color: #e67e22;
    text-align: center;
}

.box>h3,p{
    
    text-align: center;
}



.meals{
    
    margin-top: 20px;
    padding: 0px 0px;
    /*margin-bottom: 40px;*/    
    
}




.meals-showcase{
    
    width: 100%;
    list-style: none;
    padding: 0px 0px;
    margin: 0px 0px;
    
    
    
}

.meal-photo li{
    
    
    display: block;
    float: left;
    width: 25%;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: black;
    overflow: hidden;
    
    
   
    
}



.meal-photo img{
    
    width: 100%;
    height: 275px;
    margin: 0px 0px;
    padding: 0px 0px;
    transform: scale(1.15);
    opacity: 0.5;
    
    
    

}


.meal-photo img:hover{
    
    width: 100%;
    height: 275px;
    margin: 0px 0px;
    padding: 0px 0px;
    transform: scale(1.03);
    transition: transform 0.5s;
    opacity: 1;
    cursor: pointer;
    
}


.iphone{
    
    height: 500px;
    width: 500px;
    margin:auto;
}

.sec-3{
    padding-top: 20px;
    padding-bottom: 0px;
    background-color: #ededed;
}

.steps p{
    
    letter-spacing: 1px;
    word-spacing: 2px;
    font-style: oblique;
    font-weight: 600;
    margin-bottom: 30px;
    
    
    
}



.steps div{
    
    display: inline-block;
    border: 2px solid #e67e22;
    border-radius: 50%;
    text-align: center;
    height: 50px;
    width: 50px;
    font-size: 180%;
    float: left;
    margin-right: 20px;
    color: #e67e22;
    
    
    
}

.btn-app img{
    
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-right: 20px;
    float: left;
    display: inline-block;
}

.logo-iphone{
    
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 190px;
    top: 100px;
    left: 200px;
    /*transform: translate(0,-350%);*/
    
}

.box2{
    position: relative;
}

/*.steps{
    display: block;
    margin-top: 50px;
}*/

.block{
    display: block;
    margin-top: 15%;
}

.block p{
    text-align: left;
}
.text-iphone {
    
    position:absolute;
    height: 100px;
    width: 200px;
    color: white;
    font-size: 28px;
    font-family: Algerian;
    line-height: 40px;
    top: 250px;
    left: 152px;
    letter-spacing: 2px;
    
    color: rgb(159, 237, 68);
}

.clearfix{zoom:1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.cities{
    list-style: none;
}

.cities li{
    float: left;
    margin-left: 50px;
}

.cityimg img{
    
    width: 225px;
    margin-top: 40px;
}

.city-spec-list i{
    
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    
}

h5{
    margin-left: 2px;
    line-height: 30px;
    
} 

.section-cities{
    
    padding-top: 0px;
}

a:link,
a:visited{
    text-decoration: none;
    color: #e67e22;
    border-bottom: 2px solid #e67e22;
    letter-spacing: 0.3px;
    
}

a:hover,
a:active{
    
    text-decoration: none;
    color: #cf6d17;
    letter-spacing: 0.3px;
    border-bottom: 0px;
    transition: color 0.2s;
}

blockquote{
    
    font-family: lato;
    font-style: italic;
    font-weight: 500;
    word-spacing: 2px;
    color: white;
    line-height: 30px;
    position: relative;
    margin-top: 50px;
}

blockquote:before{
    
    content:"\201C";
    display: block;
    font-size: 80px;
    position: absolute;
    top: -10px;
    left:-05px;
}

cite img{
    
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 2px solid white;
    vertical-align: middle;
    margin-right: 20px;
}

cite{
    
    margin-top: 20px;
    color: white;
    display: block;
    
}

.section-testinomials{
    
    
    background-position: center;
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-attachment: fixed;
    
}

.section-testinomials h2{
    
    color: white;
    
}


.section-plan-and-prize{
    
    background-color: #ededed;
}

.plan-prize{
    
    background-color: rgb(229, 229, 229);
    display: block;
    padding: 10px 20px;
    height: 150px;
    
}

.prize{
    font-size: 50px;
    color: #e67e22;
}



.plan-prize sub{
    
    font-size: 15px;
    word-spacing: 2px;
    
    font-weight: 600;
}

.plan-services{
    
    padding: 10px 20px;
    background-color: white;
    list-style:none;
    line-height: 30px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.plan-services i{
    
    float: left;
    display: block;
    margin-right: 10px;
    
}

.plan-signup{
    
    text-align: center;
    padding: 20px 20px;
    background-color: white;
}

.plan-box{
    
    box-shadow: 10px 10px 10px grey;
    margin-right: 20px;
}

.contact-form{
    
    width: 60%;
    margin: auto;
    margin-top: 30px;
}

input[type=text],
input[type=email],
textarea,select{
    
    width: 100%;
    padding: 10px 10px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #ccc;
    
}

label{
    font-size: 22px;
    vertical-align: middle;
    height: 50px;
}

*:focus{
    outline: none;
}

input[type=checkbox]{
    
    margin-top: 10px;
}

input[type=reset]{
    
    background-color: white;
    margin-right: 60px;
    margin-top: 20px;
    cursor: pointer;    
}

input[type=submit]
{
    
    margin-left: 110px;
    margin-top: 20px;
    cursor: pointer;
}



footer{
    background-color: #363535;
    height: 200px;
    position: relative;
}

.footer-nav
{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 50px;
    position: absolute;
    top: 20%;
}

.footer-nav li{
    
    float: left;
    margin-right: 40px;
    
}

.footer-nav a:link,
.footer-nav a:visited,
.social-nav a:link,
.social-nav a:visited{
    
    color: #fcf9b3;
    text-decoration: none;
    border:none;
}

.footer-nav a:hover,
.footer-nav a:active,
{
    
    color: #fcf9b3;
    text-decoration: none;
    border-bottom: 2px solid #fcf9b3;
}



.footer-nav-icons{
    
    display: block;
    float: right;
    position: absolute;
    top: 20%;
    right: 10%;
}

.footer-nav-icons li{
    
    float: left;
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 5px 5px;
    margin-left: 20px;
    font-size: 140%;
    
    
}

.footer-para{
    
    font-size: 15px;
    color:white;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-family: Copperplate Gothic Bold;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
}













