* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: "Lato", "Arial", sans-serif;
  color: black;
  background-color: white;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.bimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1140px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/foodcover2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

h1 {
  font-size: 260%;
  letter-spacing: 1px;
  word-spacing: 10px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.btn,
input[type="submit"] {
  display: inline-block;
  margin-right: 30px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 2px solid #ffffff;
  color: rgb(22, 22, 22);
  background-color: #ffffff;
  transition: background-color 0.2s;
}

.logo {
  height: 80px;
  width: 80px;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 190px;
}

h2 {
  color: black;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 2px;
}

h2:after {
  display: block;
  width: 10%;
  background-color: #000000;
  height: 2px;
  content: " ";
  margin-left: 45%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sec-1-para {
  color: black;
  width: 80%;
  font-style: italic;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-bottom: 30px;
  line-height: 145%;
}

h3 {
  color: black;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
  word-spacing: 2px;
}

.col span-1-of-4 {
  color: black;
}

.sec-1-sec {
  color: black;
  font-size: 90%;
  letter-spacing: 0.5px;
  line-height: 25px;
  word-spacing: 2px;
  padding-right: 5px;
}

section {
  padding: 80px;
}

.icon-big {
  font-size: 300%;
  display: block;
  color: #023e8a;
  text-align: center;
}

.steps p {
  letter-spacing: 1px;
  word-spacing: 2px;
  font-style: oblique;
  font-weight: 600;
  margin-bottom: 30px;
}

.box2 {
  position: relative;
}

.block {
  display: block;
  margin-top: 15%;
}

.block p {
  text-align: left;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.cities {
  list-style: none;
}

.cities li {
  float: left;
  margin-left: 100px;
}

.cityimg img {
  width: 235px;
  margin-top: 40px;
}

.city-spec-list i {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

h5 {
  margin-left: 2px;
  line-height: 10px;
  font-size: x-large;
}

.section-cities {
  padding-top: 0px;
}

a:hover,
a:active {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.3px;
  border-bottom: 0px;
  transition: color 0.2s;
}

blockquote {
  font-family: lato;
  font-style: italic;
  font-weight: 500;
  word-spacing: 2px;
  color: white;
  line-height: 30px;
  position: relative;
  margin-top: 50px;
}

blockquote:before {
  content: "\201C";
  display: block;
  font-size: 80px;
  position: absolute;
  top: -10px;
  left: -05px;
}

cite img {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 2px solid white;
  vertical-align: middle;
  margin-right: 20px;
}

cite {
  margin-top: 20px;
  color: white;
  display: block;
}

.section-testinomials {
  background-position: center;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/back-customers.jpg);
  background-attachment: fixed;
}

.section-testinomials h2 {
  color: white;
}

.contact-form {
  width: 60%;
  margin: auto;
  margin-top: 30px;
}

input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 10px 10px;
  height: 50px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

label {
  font-size: 22px;
  vertical-align: middle;
  height: 50px;
}

*:focus {
  outline: none;
}

input[type="checkbox"] {
  margin-top: 10px;
}

input[type="submit"] {
  color: white;
  background-color: #85949c;
  margin-left: 110px;
  margin-top: 20px;
  cursor: pointer;
}

footer {
  background-color: #363535;
  height: 200px;
  position: relative;
}

.footer-nav {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 50px;
  position: absolute;
  top: 20%;
}

.footer-nav li {
  float: left;
  margin-right: 40px;
}

.footer-nav a:link,
.footer-nav a:visited,
.social-nav a:link,
.social-nav a:visited {
  color: #ffffff;
  text-decoration: none;
  border: none;
}

.footer-nav a:hover,
.footer-nav a:active {
  color: #48cae4;
  text-decoration: none;
  border-bottom: 2px solid #48cae4;
}

.footer-nav-icons {
  display: block;
  float: right;
  position: absolute;
  top: 20%;
  right: 10%;
}

.footer-nav-icons li {
  float: left;
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  padding: 5px 5px;
  margin-left: 20px;
  font-size: 140%;
}

.footer-para {
  font-size: 15px;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-family: Copperplate Gothic Bold;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
}

.heading {
  margin-top: 20px;
  font-size: 250%;
  letter-spacing: 1px;
  word-spacing: 10px;

  color: rgb(255, 255, 255);
  font-family: cursive;
}

#rest_name {
  margin-top: 20px;
  font-size: 350%;
  color: rgb(255, 255, 255);
  font-family: "Seaweed Script", cursive;
}

.contact_details {
  color: rgba(207, 207, 207, 0.808);
}

#tagline {
  color: #d4d6d6;
  font-family: cursive;
  margin-bottom: 40px;
}

.nav-link {
  font-size: 120%;
}
